<% var user = this.model.user;
%>
<div class="col-xs-6">
<h1>Login</h1>
    <div class='content' id='login'>
        <form>
            <div class="form-group">
                <label for="username">User name</label>
                <input type="text" class="form-control" id="login-username" placeholder="Enter username"
                value="<%= user.name %>">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="login-userpassword" placeholder="Password"
                value="<%= user.password %>">
            </div>

            <button type="submit" class="btn btn-default" id="login-button">Submit</button>
        </form>
    </div>
</div>